@import "mediaqueries/responsive-contacto";
/* Contacto */
/* ARTICLE */
/* Formulario */
.sectionc1 {
    background-image: url(/imagenes/contacto.jpg);
    background-position: center;
    background-size: cover;
    padding: 8rem 6rem;
    border-radius: 0;
    height: 900px;
    .sectionc1__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .sectionc1__h1 {
            color:$azul;
            font-size: $font-size * 4;
            font-weight: 200;
        }
        .sectionc1__p {
            font-size: 18px;
            line-height: 2;
            background-color: rgba(139, 205, 230, 0.3);
            padding: 8px;
            border: 1px solid $azul-fuerte;
            border-radius: 10px;
            margin: 10px 0 10px 0;
        }
        .sectionc1__form {
            color: $azul-fuerte;
            background-color: rgba(139, 205, 230, 0.3);
            border: 1px solid $azul-fuerte;
            border-radius: 10px;
            padding: 20px;
            margin: 40px 0 40px 0;
        }
        .sectionc1__textarea {
            resize:none;
        }
        .sectionc1__btn {
            color: #ffffff;
            background-color:$azul;
        }
        .sectionc1__btn:hover {
            color:#51c4d3;
        }
        .sectionc1__btn:active {
            color:#51c4d3;
            background-color: $azul-fuerte;
        }
    }
}
.sectionc2 {
    background-color: $claro;
    padding-top: 30px;
    .sectionc2__label {
        font-size: $font-size * 3;
        font-weight: 200;
        color:$azul;
    }
    .sectionc2__content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .sectionc2__content-div {
            padding: 40px;
            width: 350px;
            text-align: center;
            .sectionc2__divs {
                padding: 10px;
                .sectionc2__divs-h4 {
                    color:$azul;
                }
            }
        }
    }
}