/* Energía Eólica*/
/* ARTICLE */
/* Carousel */
.seccionee-uno__h5 {
    font-size: 40px;
    padding-bottom: 10px;
}
.seccionee-uno__p {
    font-size:20px;
    padding: 40px 0;
}
.seccionee-uno__img {
    object-fit: fill;
    height: 735px;
}
.seccionee-uno__img--cover {
    object-fit: cover;
    height: 735px;
}

.sectionee-dos__container2 {
    box-shadow: 1px 2px 2px rgba(216,227,231,0.8);
    padding: 10px 15px 10px 15px;
    .sectionee-dos__img {
        height: 500px;
        width: 1400px;
        object-fit: fill;
    }
}
.sectionee-dos__h2, .sectionee-dos__span{
    font-size:small;
}
.sectionee-dos__span {
    color: #126e82;
}
.sectionee-dos__p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-self: center;
    font-size:$font-size + 7;
    line-height: 2;
    height: 510px;
    background-color: #d8e3e7;
}

.sectionee-tres__container {
    font-size:16px;
    background-color: #d8e3e7;
    color: #126e82;
    box-shadow: 0 2px 2px rgba(216,227,231,0.8);
}
.sectionee-tres__ul {
    background-color: #d8e3e7;
}
.sectionee-tres__ul-div {
    color: #126e82;
    text-align: center;
}

.sectionee__h1 {
    color: #000000;
    padding-top: 60px;
    font-size: ($font-size * 3) + 4;
    font-weight: 300;
    line-height: 80px;
    align-self: center;
    text-align: center;
}
.sectionee__hr{
    border-bottom: 2px solid #126e82;
    width: 5%;
    margin: 0 auto;
}