@import "mediaqueries/responsive";

/* ARTICLE */
.section-uno__container {
    background-image: url(/imagenes/molino3.jpg);
    background-position: center;
    background-size: cover;
    padding: 18rem 3rem;
    border-radius: 0;
    height: 735px;
    .section-uno__h1{
        color: #ffffff;
        font-size: 50px;
        line-height: 1.2;
        font-weight: 200;
    }
    .section-uno__hr {
        border: 1px solid $color-hr;
    }
    .section-uno__p {
        color: #ffffff;
    }
}
.section-dos__p {
    color: #000000;
    align-items: flex-start;
    text-align: center;
    font-size: ($font-size * 2) + 1;
}
.section-tres__container {
    background-image: url(/imagenes/molino4.jpg);
    background-position: center;
    background-size: cover;
    padding: 7rem 1rem;
    border-radius: 0;
    margin: 0;
    .section-tres__content {
        height: 800px;
        width: 700px;
        background-color: $color-sombra;
        padding: 20px 40px 30px 40px;
        .section-tres__h1 {
            margin-top: 50px;
            font-size: ($font-size * 4);
            text-align: center;
        }
        .section-tres__h1, .section-tres__p {
        color: $color-hr;
        padding-top: 35px;
        line-height: 2;
        }
        .section-tres__p {
        font-size: $font-size + 8;
        }
    }
}
.section-cuatro__h1 {
    color: #000000;
    padding-top: 60px;
    font-size: $font-size * 4;
    font-weight: 300;
    line-height: 80px;
    align-self: center;
    text-align: center;
}
.section-cuatro__hr{
    border-bottom: 2px solid #126e82;
    width: 5%;
    margin: 0 auto;
}
.section-cinco {
    margin: 60px 0;
    justify-content: space-around;
    text-align: center;
    font-size: $font-size * 2;
    .section-cinco__hr {
        border-bottom: 2px solid #126e82;
        width: 5%;
        margin: 125px 0;
    }
    .section-cinco__container {
        background-color: #132c33;
        justify-content: center;
        padding-top: 60px;
        font-size: $font-size + 4;
        height: 300px;
        width: 300px;
        .section-cinco__content {
            background-color: #132c33;
            text-align: center;
            .section-cinco__svg {
                color: #ffffff;
                height: 55px;
                width: 100%;
                padding-top: 5px;
                transition: all 0.3s;
            }
            .section-cinco__svg:hover {
                color: #51c4d3;
            }
        }
        .section-cinco__content-dos {
            background-color: #132c33;
            padding: 1.25rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            .section-cinco__p {
                color: #ffffff;
                text-align: center;
                line-height: 1.7;
                transition: all 0.3s;
            }
            .section-cinco__p:hover{
                color: #51c4d3;
            }
        }
    }
}