/* Nuestros Productos */
/* HEADER */
/* ARTICLE 

.sectionnp-uno__container {
    background-image: url(../../imagenes/nu-productos.jpg);
    background-position: center;
    background-size: cover;
    background-position:top;
    padding: 18rem 3rem;
    color: #ffffff;
    border-radius: 0;
    height: 735px;
}
.sectionnp-uno__p {
    color: #ffffff;
}

.sectionnp-dos__container {
    @include separacion(25);
    .sectionnp-dos__container-ul {
        display: flex;
        justify-content: space-evenly;
        .sectionnp-dos__ul {
            margin-top: 90px;
        }
    }
}

.sectionnp-tres__container {
    @include separacion(25);
    .sectionnp-tres__container-ul {
        display: flex;
        justify-content: space-evenly;
        .sectionnp-tres__ul {
            margin-top: 90px;
        }
    }
}

.sectionnp-cuatro__container {
    @include separacion(25);
}

/* ASIDE 
.aside {
    background-color: $color-blanco;
    .aside__ul {
        .aside__ul-li {
            a {
                font-size: $font-size * 2;
                transition: transform .3s;
            }
            a:hover {
                transform:scale(1.3);
            }
        }
    }
}

/* FOOTER 
.footer__container {
    font-size: $font-size;
    align-items: end;
    justify-content: end;    
}
*/