/* Nuestros Productos */
/* HEADER */
.nav {
    background-color: $color-blanco;
}
/* ARTICLE */
.sectionnp-uno {
    .sectionnp-uno__container {
        background-image: url(../../imagenes/nu-productos.jpg);
        background-position: center;
        background-size: cover;
        background-position:top;
        padding: 18rem 3rem;
        color: #ffffff;
        border-radius: 0;
        height: 735px;
    }
    .sectionnp-uno__p {
            color: #ffffff;
    }
}
.sectionnp-dos {
    .sectionnp-dos__container {
        margin: 20px;
        padding: 30px;
        .sectionnp-dos__container-ul {
            display: flex;
            justify-content: space-evenly;
            .sectionnp-dos__ul {
                margin-top: 90px;
            }
        }
    }
}
.sectionnp-tres {
    .sectionnp-tres__container {
        margin: 20px;
        padding: 30px;
        .sectionnp-tres__container-ul {
            display: flex;
            justify-content: space-evenly;
            .sectionnp-tres__ul {
                margin-top: 90px;
            }
        }
    }
}
.sectionnp-cuatro {
    .sectionnp-cuatro__container {
        margin: 20px;
        padding: 30px;
    }
}

/* ASIDE */
.aside {
    background-color: $color-blanco;
    .aside__ul {
        .aside__ul-li {
            a {
                font-size: $font-size * 2;
                transition: transform .3s;
            }
            a:hover {
                transform:scale(1.8);
            }
        }
    }
}

/* FOOTER */
.footer {
    .footer__container {
        font-size: $font-size;
        align-items: end;
        justify-content: end;    
    }
}