/* ASIDE */
.aside {
    background-color: $azul;
    .aside__h1 {
        color: $celeste;
    }
    .aside__ul-li {
        a {
            color: $celeste;
            font-size: $font-size * 2;
            transition: transform .3s;
        }
        a:hover {
            transform:scale(1.3)
        }
    }
}