/* FOOTER */
.footer {
    background-color: $azul;
    .footer__container {
        color: $claro;
        font-size: $font-size;
        align-items: end;
        justify-content: end;
        .footer__h5 {
            text-align: center;
        }
        .footer__h6 {
            text-align: end;
        }
    }
}
