body {
    background-color: $blanco;
}
/* HEADER */
.nav__1 {
    background-image: linear-gradient( 109.6deg,  rgba(62,161,219,1) 11.2%, rgba(93,52,236,1) 100.2% );
    .nav__svg {
        color: $blanco;
        margin: 0 10px;
    }
    .nav__a--size {
        font-size: $font-size + 9;
        color: $blanco;
        margin: 0;
    }
    .nav__btn {
        border-color: $blanco;
        .nav__i {
            color: $blanco;
        }
    }
    .nav__btn:active {
            background-color: #5d34ec;
    }
}

.nav__a {
    color: $blanco;
    font-size: $font-size + 4;
    margin: 2px 10px;
    padding: 10px 10px;
    border-radius: 15px;
    transition: 0.3s;
    
}
.nav__a:hover {
    color:$blanco;
    background-color: $azul-fuerte;
    border-radius: 15px;
}
.nav__ul {
    margin: 0 10px;
    text-align: center;
    align-items: center;
}