body {
    background-color: #ffffff;
}
/* HEADER */
.nav {
    background-color: $azul;
    .nav__svg {
        color: #ffffff;
        margin: 0 10px;
    }
    .nav__a--size {
        font-size: $font-size + 9;
        color: #ffffff;
    }
    .nav__btn {
        border-color: #ffffff;
        .nav__i {
            color: #ffffff;
        }
    }
    .nav__btn:active {
            background-color: $azul;
    }
}

.nav__a {
    color: #ffffff;
    font-size: $font-size + 4;
    margin: 2px 10px;
    padding: 10px 10px;
    transition: all 0.3s;
}
.nav__a:hover {
    color:$celeste;
}
.nav__ul {
    margin: 0 10px;
    text-align: center;
    align-items: center;
}